* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body, input {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
.md-typeset, .md-nav  {
    font-size: 18px;
    line-height: 1.5;
}

.md-typeset table:not([class]) {
    font-size: 14px;
    line-height: 1.5;
    display: table;
}

/* h1:not([class="md-search-result__title"]) {
    font-size: 34px !important;
} */

.md-typeset h1, .md-typeset h2 {
    font-weight: 700;
}

.md-typeset h3, .md-typeset h4 {
    font-weight: 600;
}

.md-typeset h1 {
    font-size: 50px;
}
.md-typeset h2 {
    font-size: 36px;
}
.md-typeset h3 {
    font-size: 28px;
}
.md-typeset h4 {
    font-size: 22px;
}

/* Removed !important as it affects everything and added .md-typeset class to header formatting */


/* Test Area */
img.custom-img-center {
    display: block;
    margin: auto;
}

img.custom-img-shadow {
    box-shadow: 0 0 8px 4px rgb(0 0 0 / 20%);
}

#custom-tag-index {
    column-count: 3;
}

#custom-tag-index > h2:first-of-type {
    margin-top: 0;
}

/* Fixes Table Width */
.md-typeset__table {
    /* width: 100%; */
    display: table;
    margin: auto;
}
.md-typeset__table > table {
    display: table;
    margin: auto;
}

<<<<<<< HEAD
.admonition.abstract .md-typeset__table {
    width: 100%;
}

/* Try to Match Old/Current Resource Centre Sizing and Style */

.md-grid {
    max-width: 82.5rem;
}

nav.md-tabs {
    line-height: 1;
}

.md-tabs__link {
    font-size: 20px;
}

.md-main__inner.md-grid .md-content {
    margin: 0 2rem 2.5rem 2rem;
    padding: 2.5rem;
    border-radius: 2rem;
    box-shadow: 0 2px 8px 4px rgb(0 0 0 / 20%);
    
=======
/* Increase Image size for gallery */

/*For larger desktops*/
@media only screen and (min-width: 1024px) {
    div.lg-img-wrap img.lg-object.lg-image {
        width: 45.5vw !important;
    }
}
/*For Laptops and larger tablets*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    div.lg-img-wrap img.lg-object.lg-image {
        width: 80.5vw !important;
    }
}
/*For Tablets and larger smartphones*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
    div.lg-img-wrap img.lg-object.lg-image {
        width: 85.5vw !important;
    }
}
/*For Smaller smartphones*/
@media only screen and (max-width: 480px) {
    div.lg-img-wrap img.lg-object.lg-image {
        width: 95.5vw !important;
    }
}

div#lg-counter{
    display:none!important;
>>>>>>> 55f1e569ca93e123a46c1d5c27322c4285c155de
}

/* Test Area */

@media print {
    body, input {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
    }
    .md-typeset, .md-nav, .md-typeset table:not([class]) {
        font-size: 14px;
        line-height: 1.5;
    }

    h1, h2, h3, h4 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        line-height: 1.4;
    }

<<<<<<< HEAD
    h1 {
        font-size: 34px;
=======
    h1:not([class="md-search-result__title"]) {
        font-size: 34px !important;
>>>>>>> 55f1e569ca93e123a46c1d5c27322c4285c155de
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }

    /* Test Area */
    img.custom-img-shadow {
        border: 1px solid slategray;
    }
    /* Test Area */

    code, kbd, pre {
        font-family: 'Fira Mono', monospace;
    }

    div[data-md-component="skip"], div[data-md-component="announce"],
    div[data-md-component="header"], label[class="md-overlay"]{
        display: none;
    }
    div[class="md-main__inner md-grid"]{
        margin-top: 0;
    }

	@page {
        size: a4 portrait;
        margin: 10mm 10mm 15mm 10mm;
        counter-increment: page;

        @bottom-left {
            content: '© 2022 Breadboard Mates';
            font-size: 8pt;
        }

        @bottom-right {
            content: 'Page ' counter(page);
            font-size: 8pt;
        }
    }

}